/* ======================================================================== */ 

 /*                      NOT RELATED TO THE TTUTORIAL                        */

/* ======================================================================== */

*{
	
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	list-style: none;

}


*,
*::before,
*::after {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	list-style: none;
}

:root {
  --step--2: clamp(0.69rem, calc(0.58rem + 0.60vw), 1.00rem);
  --step--1: clamp(0.83rem, calc(0.67rem + 0.81vw), 1.25rem);
  --step-0: clamp(1.00rem, calc(0.78rem + 1.10vw), 1.56rem);
  --step-1: clamp(1.20rem, calc(0.91rem + 1.47vw), 1.95rem);
  --step-2: clamp(1.44rem, calc(1.05rem + 1.95vw), 2.44rem);
  --step-3: clamp(1.73rem, calc(1.21rem + 2.58vw), 3.05rem);
  --step-4: clamp(2.07rem, calc(1.39rem + 3.40vw), 3.82rem);
  --step-5: clamp(2.49rem, calc(1.60rem + 4.45vw), 4.77rem);
	
	/* Font style */
	
	--ff-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	
	/* Color style */
	
	--color-primary: #0575E6;
	--color-secondary: #6dd5ed;
	--color-primary-light:#8dc6ff;
	--color-primary-dark:#021B79;
	--color-error:#cc3333;
	--color-success:#4bb544;
	--color-link:#606470;
	--color-text:#5f6769;
	--color-header-dark:#393e46;
	--color-background:#f5f9ee;
	--color-border-sc:#ececec;
	--color-border-focus:#69c2ff;
	--color-border:#d3d6db;
	--bs:#ffa857;
	--color-percentage:#5f6769;
	--color-header-light:#9ba6a5;
	--color-border-focus:#a9d7f6;
	--color-input-background:#f5f9ee;
	--gradient: linear-gradient(135deg var(--color-primary), var(--color-secondary));
	
}

body {
    min-height:  100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--ff-primary);
  }

html, body {
	height: 100%;
}


/* ======================================================================== */ 

 /*                      RELATED TO THE TTUTORIAL                        */

/* ======================================================================== */


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 90%;
    height: 450px;
    background: #bbbbbc;
}

.container a {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: inline-block;
    padding: 1rem 3rem;
    color: #fff;
    background: orange;
    font-size: var(--step--1);
}

a::after {
    position: absolute;
    content: '';
    top: 0;
    left:0;
	right:0;
	height: 100%;
	background:rgb(255, 75, 10);
	transform: scale(0,1);
	transform-origin: 100% 50%;
	transition: transform .5s ease;
    z-index: -1;
}

a:hover:after {
    transform-origin: 0% 50%;
    transform: scale(1,1);
    z-index: -1;
}

